[Unit]
Description=Angelus daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/angelus
ExecStart=/usr/bin/env angelus daemon
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
